@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno: @ViewData["aluno"]</p>
<address>
    <strong>Teste link: </strong> <a href="http://www.surfguru.com.br"> Teste link </a>
</address>